<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATHENA GAMEPANEL</title>

    <!-- Bootstrap Core CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- MetisMenu CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css') }}">

    <!-- Timeline CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/plugins/timeline.css') }}">

    <!-- SB Admin 2 CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/sb-admin-2.css') }}">

    <!-- Custom CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/athena.css') }}">

    <!-- Morris Charts CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/plugins/morris.css') }}">

    <!-- sweet-alert CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/plugins/sweet-alert.css') }}">

    <!-- Custom Fonts -->
    <link rel=stylesheet href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>

<body>
    
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">ATHENA</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block body %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
   	<script src={{ url_for('static', filename='js/jquery.js') }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src={{ url_for('static', filename='js/plugins/metisMenu/metisMenu.min.js') }}></script>

    <!-- Morris Charts JavaScript 
    <script src={{ url_for('static', filename='js/plugins/morris/raphael.min.js') }}></script>
    <script src={{ url_for('static', filename='js/plugins/morris/morris.min.js') }}></script>
    <script src={{ url_for('static', filename='js/plugins/morris/morris-data.js') }}></script>-->

     <!-- sweet-alert JavaScript -->
    <script src={{ url_for('static', filename='js/plugins/sweet-alert/sweet-alert.min.js') }}></script>

    <!-- Custom Theme JavaScript -->
    <script src={{ url_for('static', filename='js/sb-admin-2.js') }}></script>

    <script src={{ url_for('static', filename='js/handlebars-v2.0.0.js') }}></script>

    <script src={{ url_for('static', filename='js/athena.js') }}></script>
    
    {% block scripts %}{% endblock %}
</body>

</html>
